*{
    padding: 0px;
    margin: 0px;
}

a{
    font-size: 40px;
    color: rgb(75, 189, 0);
}

p{
    background-color: blueviolet;
    margin: 30px;
    padding: 10px;
}

form{
    background-color: brown;
    width: 10%;
    padding: 10px;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: whitesmoke;
    background-color: black;
    padding: 20px;
    border-radius: 15px15px0px0px;
    align-items: center;
    font-size: 18px;
}
